<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <style type="text/css">
        :root {
            --border-color: grey;
            --padding: 10px;
            --background-color: white;
            --text-color: black;
            --link: rgb(0, 0, 238);
            --link-visited: rgb(85, 26, 139);
            --quote-background: rgba(41, 44, 51, 0.31);
            --block-radius: 5px;
        }
        body {
            margin: 0;
            display: grid;
            grid-template-areas:
                "header main"
                "aside main";
            grid-template-rows: 50px 1fr;
            grid-template-columns: 20% 1fr;
            min-height: 100vh;
            font-family: "Helvetica";
            background-color: var(--background-color);
            color: var(--text-color);
        }
        header, aside > ul > li, main {
            padding: var(--padding);
        }
        header {
            grid-area: header;
            border-bottom: 1px solid var(--border-color);
        }
        header h2 {
            margin: 0;
        }
        aside {
            grid-area: aside;
        }
        aside > ul {
            margin: 0;
            padding: 0;
        }
        aside > ul > li {
            border-bottom: 1px solid var(--border-color);
        }
        aside > ul > li > a {
            margin-left: 21px;
        }
        aside a {
            text-decoration: none;
        }
        .sub-item {
            padding-top: var(--padding);
        }
        main {
            grid-area: main;
            border-left: 1px solid var(--border-color);
        }

        a {
            color: var(--link);
        }
        a:visited {
            color: var(--link-visited);
        }

        blockquote {
            background-color: var(--quote-background);
            padding: 5px 40px;
            margin: 0;
        }

        blockquote, code {
            border-radius: var(--block-radius);
        }

        @media (prefers-color-scheme: dark) {
            :root {
                --border-color: white;
                --background-color: rgb(46, 61, 79);
                --text-color: rgb(178, 183, 189);
                --link: rgb(133, 95, 238);
                --link-visited: rgb(117, 84, 148);
            }
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/atom-one-dark-reasonable.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
    <header>
        <h2>{{ title }}</h2>
    </header>
    <aside>
        <ul>
        {% for entry in menu %}
            <li>
                {% if entry.entries|length > 0 %}
                    <details>
                        <summary>
                            {% if entry.pointsSomewhere() %}
                                <a href="{{ entry.url.toString() }}" {% if entry.pointsElsewhere() %}target="_blank"{% endif %}>
                                    {{ entry.name }}
                                </a>
                            {% else %}
                                {{ entry.name }}
                            {% endif %}
                        </summary>
                        {% if entry.entries|length > 0 %}
                            <ul>
                                {% for subEntry in entry.entries %}
                                    <li class="sub-item">
                                        <a href="{{ subEntry.url.toString() }}" {% if subEntry.pointsElsewhere() %}target="_blank"{% endif %}>
                                            {{ subEntry.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </details>
                {% else %}
                    <a href="{{ entry.url.toString() }}" {% if entry.pointsElsewhere() %}target="_blank"{% endif %}>
                        {{ entry.name }}
                    </a>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </aside>
    <main>{{ documentation|raw }}</main>
</body>
</html>
