<!DOCTYPE html>
<html>
<head>
    <title>{{ vendor ~ '/' ~ package }}</title>
    <link rel="stylesheet" href="{{ baseUrl }}static/main.css">
    <link rel="stylesheet" href="{{ baseUrl }}static/styles/default.css">
    <link rel="stylesheet" href="{{ baseUrl }}static/styles/atom-one-dark.css">
    <script src="{{ baseUrl }}static/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
    <header>
        <a href="{{ baseUrl }}"><code>{{ package }}</code></a>
    </header>
    <aside>
        <ul>
        {% for entry in menu %}
            <li>
                {% if entry.entries|length > 0 %}
                    <details>
                        <summary>
                            {% if entry.pointsSomewhere() %}
                                <a href="{{ entry.url.toString() }}" {% if entry.pointsElsewhere() %}target="_blank"{% endif %}>
                                    {{ entry.name }}
                                </a>
                            {% else %}
                                {{ entry.name }}
                            {% endif %}
                        </summary>
                        {% if entry.entries|length > 0 %}
                            <ul>
                                {% for subEntry in entry.entries %}
                                    <li class="sub-item">
                                        <a href="{{ subEntry.url.toString() }}" {% if subEntry.pointsElsewhere() %}target="_blank"{% endif %}>
                                            {{ subEntry.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </details>
                {% else %}
                    <a href="{{ entry.url.toString() }}" {% if entry.pointsElsewhere() %}target="_blank"{% endif %}>
                        {{ entry.name }}
                    </a>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </aside>
    <main>{{ documentation|raw }}</main>
    <footer>
        <a href="{{ repository }}" target="_blank">GitHub</a>
    </footer>
</body>
</html>
